@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutLogadoFunc";
}


<link rel="stylesheet" href="~/css/ViewFuncionario/HomeFuncionario.css"/>
<div class="jumbotron text-center">
    <h1>BEM-VINDO A HOME</h1>
</div>

