@{
    ViewData["Title"] = "Home";
    Layout = "_LayoutLogadoFunc";
}


<link rel="stylesheet" href="~/css/ViewFuncionario/HomeFuncionario.css"/>
@*<h1 class="text-white text-center text-uppercase" >@ViewBag.Login</h1>*@

